@media (max-width:1300px){
      .case__img_big{
        width: 100%;
        object-fit: contain;
        align-self: flex-start;
    }
    .case__inner{
        flex-wrap: wrap;
    }
    .play__box{
        display: block;
    }
    .console-case{
        flex-direction: column;
    }
    .play__title{
    max-width: 460px;
    }
    .play__text{
        max-width: 460px;
    }
    .play__inner{
        justify-content: space-between;
    }
    .play__console-case{
        bottom: 300px;
        margin-top: 0;
    }
    .console-case__img{
        width: 90%;
    }
    .console-case__img:last-child {
  transform: translateX(0px);
}
}
@media (max-width:1200px){
   .dive__img{
    flex-direction: column;
    transform: translateX(-25px);
   }
   .dive-info__title{
    font-size: 50px;
   }
   .dive-info-descr{
    font-size: 16px;
   }
}
@media (max-width:1024px){
  .gallery__case{
    display: block;
  }
  .case__inner{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .case__img{
    width: 80%;
    margin-bottom: 20px;
  }
  .case__img_big{
    width: 100%;
  }
  .case__img:not(:last-child){
    margin-bottom: 20px;
  }
  .dive__container{
    flex-direction: column;
  }
  .dive-img{
    align-self: center;
  }
  .dive__img{
    flex-direction: row;
    transform: translateX(0px);
  }
  .dive-left{
    transform: translateX(20px);
  }
  .dive-left img{
    width: 90%;
  }
  .dive__img img{
    width: 50%;
  }
.dive__img img:first-child{
    width: 10%;
}
.dive__img img:nth-child(2){
    width: 20%;
}
  .main__buy{
    display: block;
  }
  .buy__img{
    width: 100%;
  }
  .buy__inner{
    padding-bottom: 30px;
  }
}
@media (max-width:925px){
    .footer__container{
        flex-direction: column;
        padding-right: 0;
        padding-left: 0;
    }
    .footer-top{
        padding-bottom: 0px;
    }
    .footer__items{
        width: 100%;
        text-align: center;
        flex-direction: column;
        background-color: #E6E6E6;
        padding: 25px 39px;
    }
}
@media (max-width:825px){
    .play__console-case{
        bottom: 170px;
    }
}
@media (max-width:725px) {
    .header-page__logo img{
        max-width: 200px;
    }
    .header-page__logo{
        margin-bottom: 10px;
    }
    .header-page{
        text-align: center;
    }
    .header-page__inner{
        flex-direction: column;
    }
    .menu{
        gap: 28px;
    }
    .header-info{
        align-self: center;
    }
    .header-info__title {
        text-align: center;
        font-size: 50px;
    }
    .header-infoo__link {
        display: flex;
        justify-content: center;
    }
    .play{
        text-align: center;
    }
    .play__title{
        max-width: 100%;
    }
    .play__text{
        max-width: 100%;
    }
    .form{
        padding-top: 30px;
    }
    .form__input{
        width: 100%;
    }
    .play__inner{
        display: block;
    }
    .play__console-case{
       flex-direction: row;
       bottom: 0;
    }
    .play__case{
        margin-bottom: 40px;
    }
    .form__btn{
        width: 100%;
    }
}
@media (max-width:520px){
    .buy__title{
        font-size: 40px;
    }
    .footer-img{
        flex-direction: column;
        gap: 0px;
    }
    .footer-img img:last-child{
        width: 60%;
        align-self: center;
    }
}
@media (max-width:420px){
    .header__container{
        padding-left: 0;
        padding-right: 0;
    }
    .header-info__inner {
        padding: 30px 13px;
        transform: translateY(45px);
    }
    .gallery__title{
        font-size: 30px;
    }
    .form-box{
        padding: 39px 0px 39px 0px;
    }
    .form__label{
        display: flex;
        align-items: center;
    }
    .form__label::before{
        width: 30px;
        height: 30px;
    }
    .form__checkbox:checked + .form__label::before{
    background: url(../img/play/check.svg) 0.3px 6px no-repeat;
    background-size: contain;
}
.footer-img{
    margin-bottom: 10px;
}
.footer-bottom{
    font-size: 14px;
}
} 